/*
EXTERNAL CSS
Great cause can reference this document with any number of html documents
*/

body 
{
	background-color: black;
	padding: .5%;
}

h1 
{
	color: white;
	text-align: center;
}

p
{
	background-color: grey;
	color: white;
	padding: 6px;
}

#p1
{
	/*color: tomato;*/
}

.odd 
{
	color: red;
}

.even 
{
	color: blue;
}

