body {
	background-color: black;
	padding: .5%;
	font-family: "Abril Fatface", "consolas", "sans-serif;";
}

h1 {
	color: white;
}

p {
	color: lightgreen;
	font-family: "Barlow", sans-serif;
	font-style: italic;
	font-weight: bold;
	text-decoration: cyan wavy underline;
	font-size: 20px;
}
