h1
{
	/* first number = position on x axis, second number = position on y axis,
	   third number = spread 

	   can put two shadows in the same line.
	*/ 

	text-shadow: 0px 0px 5px yellow, 0px -5px 5px red;
}

h1:hover
{
	/* 
		gives entire element the shadow effect
	*/

	box-shadow: 0px 5px 3px black;
}